body {
    &:not(#home) {
        footer {
            &.text-white{
                color: #212529 !important;
            }
            .bg-dark {
                background-color: transparent !important;
            }
        }
    }
}

.page-contents {
    margin-bottom: 50px;

    .page-header {
        padding: 50px 0px;
        text-align: center;
        background-color: #ea82b8;
        color: white;
    }

    .page-details {
        min-height: 500px;

        @media screen and (max-width: 1920px) {}
        
        @media screen and (max-width: 1600px) {}
        
        @media screen and (max-width: 1440px) {}
        
        @media screen and (max-width: 1366px) {}
        
        @media screen and (max-width: 1280px) {}
        
        @media screen and (max-width: 960px) {}
        
        @media screen and (max-width: 768px) {}
        
        @media screen and (max-width: 640px) {
            min-height: auto;
        }
        
        @media screen and (max-width: 480px) {}
        
        @media screen and (max-width: 240px) {}

        img {
            max-width: 100%;
            height: auto;

            &[style*="float:"] {
                max-width: 100%;
                height: auto;
            }
    
            &[style*="float:left"] {
                float: left;
                margin: 0 30px 10px 0;
            }
    
            &[style*="float:right"] {
                float: right;
                margin: 0 0 10px 30px;
            }
        }
    }
}
