@font-face {
    font-family: 'IBMPlex Sans Thai Looped';
    src: url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-SemiBold.eot');
    src: url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-SemiBold.woff') format('woff'),
    url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-SemiBold.ttf') format('truetype'),
    url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-SemiBold.svg#IBMPlexSansThaiLooped-SemiBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlex Sans Thai Looped';
    src: url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-Regular.eot');
    src: url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-Regular.woff') format('woff'),
    url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-Regular.ttf') format('truetype'),
    url('../../webfonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-Regular.svg#IBMPlexSansThaiLooped') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

